$main-bg-color: #FFFFFF;
$section-bg-color: #F7F7F7;

$main-txt-color: #000000;
$menu-txt-color: #A5A5A5;
$price-txt-color: #13253B;
$form-txt-color: #707070;

$label-brd-color: #95989A;
$main-color-1: #FB3B64;
$main-color-2: #08A6E4;
$main-color-3: #55DFB4;